[submodule "stable-diffusion-webui"]
	path = stable-diffusion-webui
	url = https://github.com/AUTOMATIC1111/stable-diffusion-webui.git
[submodule "jskgd/stable-diffusion-webui-images-browser"]
	path = jskgd/stable-diffusion-webui-images-browser
	url = https://github.com/AlUlkesh/stable-diffusion-webui-images-browser
[submodule "jskgd/stable-diffusion-webui-inspiration"]
	path = jskgd/stable-diffusion-webui-inspiration
	url = https://github.com/yfszzx/stable-diffusion-webui-inspiration.git
[submodule "jskgd/stable-diffusion-webui-plus"]
	path = jskgd/stable-diffusion-webui-plus
	url = https://github.com/yfszzx/stable-diffusion-webui-plus.git
